* {
    padding: 0;
    margin: 0;
}


body {
    background: white;
}

nav {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 70%;
    padding-top: 10px;
    padding-left: 75px;
}

.nav-buttons a { 
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;  
    position: relative;
    padding-right: 30px;

}

.nav-buttons a::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 2.5px; 
    background-color:#FB94E8 ;
    display: block;
    margin: auto;
    transition: 0.3s;
    left: 0;
    bottom: -5px;
}
.nav-buttons a:hover:after {
    width: 100%;
}

.buttons {  
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
}

.buttons a{
    padding-top: 10px; 
    padding-right: 40px;
    color: black;
    display: flex;
    flex-direction: row;
    align-content: flex-end;

}

.buttons a:hover {
    color: #FB94E8 ;
}

.buttons a:active {
    color: #FB94E8 ;
}

.image{
    content:url(/Images/me_pic2_rounded.png);
    text-align: left;
    height: 550px;
    padding-top: 40px;
    padding-left: 350px;

} 

img {
    max-width: 100%;
    max-height: 100%;
}

.bio-text h1 {
    font-size: 33px;
    text-align: left;
}

.bio-text {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 5%; 
    padding-top: 5%;
    text-align: left; 
    width: 40%;

}

.bio {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.bio p {
    color: #524D4D;
    font-size: 18px;
    margin-block-start: 2em;
    margin-block-end: 2em;
}

.projects {
    margin-top: 50px;
    margin-left: 70px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}

.projects p{
    color: #524D4D ;
    margin-left: 100px;
    margin-top: 25px;
    padding-bottom: 20%;
}

nav.sticky {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}